@import "tailwindcss";

@theme inline {
  --font-bungee: var(--font-bungee);
  --font-inter: var(--font-inter);
}

@layer base {
  .lucide {
    width: 1em;
    height: 1em;
    @apply text-inherit;
  }
}