@import "tailwindcss";

@theme inline {
  --font-bungee: var(--font-bungee);
  --font-inter: var(--font-inter);
}

@layer base {
  .lucide {
    width: 1em;
    height: 1em;
    @apply text-inherit;
  }
  .container {
    @apply mx-auto px-5 lg:max-w-4xl! lg:px-0 xl:max-w-5xl!;
  }
}
